<input type="text" id="myInput" (keyup)="onKey($event)" placeholder="Search for names..">

<ul id="myUL">
    <li><a [routerLink]="['/search',1]" (click)="onEdit(1)">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</a></li>
    <li><a [routerLink]="['/search',2]" (click)="onEdit(2)">Mens Casual Premium Slim Fit T-Shirts </a></li>
    <li><a [routerLink]="['/search',3]" (click)="onEdit(3)">Mens Cotton Jacket</a></li>
    <li><a [routerLink]="['/search',4]" (click)="onEdit(4)">Mens Casual Slim Fit</a></li>
    <li><a [routerLink]="['/search',5]" (click)="onEdit(5)">John Hardy Women's Legends Naga Gold & Silver Dragon Station Chain Bracelet</a></li>
    <li><a [routerLink]="['/search',6]" (click)="onEdit(6)">Solid Gold Petite Micropave </a></li>
    <li><a [routerLink]="['/search',7]" (click)="onEdit(7)">White Gold Plated Princess</a></li>
    <li><a [routerLink]="['/search',8]" (click)="onEdit(8)">Pierced Owl Rose Gold Plated Stainless Steel Double</a></li>
    <li><a [routerLink]="['/search',9]" (click)="onEdit(9)">WD 2TB Elements Portable External Hard Drive - USB 3.0 </a></li>
</ul>